.team {
    width: 100%;
    border-radius: 15px;
    background-color: #F9FAFB;
}

.topside {
    padding: 15px 29px 14px;
    border-bottom: 1px solid #C4C4C4;
}
.title {
    width: 18.57%;
    font-size: 26px;
    color: #424F5E;
}

.search {
    width: 81.43%;
}